<div class="contact">
	<div class="col-md-6 col-md-offset-3">
		<div class="row">
			<div class="col-md-3">
				<img src="assets/demo1.png" style="width: 100%">
			</div>
			<div class="col-md-9">
				<h3>
					https://id.linkedin.com/in/muhammad-ghozie
				</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<img src="assets/demo1.png" style="width: 100%">
			</div>
			<div class="col-md-9">
				<h3>
					https://github.com/manggala
				</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<img src="assets/demo1.png" style="width: 100%">
			</div>
			<div class="col-md-9">
				<h3>
					ghozie.manggala12(at)gmail.com
				</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<img src="assets/demo1.png" style="width: 100%">
			</div>
			<div class="col-md-9">
				<h3>
					(+62) 852 5952 9798
				</h3>
			</div>
		</div>
	</div>
</div>