/* You can add global styles to this file, and also import other style files */

.loading-wrapper{
	margin: 0px;
	background: navy;
	height: 100vh;
	color: white;
    animation: glow linear 5s infinite;
}

body{
	margin: 0px;
    background-color: navy;
    color: white;
    background: url('assets/background2.jpg');
    background-size: 100%;    
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

@-webkit-keyframes glow { 
    0% { background-color:rgb(50,50,50); }
    50% { background-color:rgb(25,25,25); }
    100% { background-color:rgb(50,50,50); } 

} 
@keyframes glow { 
    0% { background-color:rgb(50,50,50); }
    50% { background-color:rgb(25,25,25); }
    100% { background-color:rgb(50,50,50); } 
}
